site_name: GA4GH GKS

nav: []

theme:
  name: material
  custom_dir: docs/overrides
  features:
    - navigation.instant
    - content.code.copy
    - toc.integrate

extra_css:
  - stylesheets/extra.css
  - stylesheets/center-content.css
  - stylesheets/custom-header.css

extra_javascript:
  - assets/javascripts/menu.js
markdown_extensions:
  - admonition
  - attr_list
  - md_in_html
  - tables
  - pymdownx.superfences
  - pymdownx.details
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.mark
  - pymdownx.tilde

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/ga4gh
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/ga4gh
