.md-typeset h1 {
    font-size: 3em !important;
    font-weight: bold !important;
}

.md-typeset h2 {
    font-size: 1.75em !important;
    font-weight: bold !important;
    font-style: italic !important;

    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center !important;
    width: fit-content !important;
}
